
.toast-success {
    color: white;
    background-color: forestgreen;
    opacity: 1!important;
}
.toast-error {
    color: white;
    background-color: red;
    opacity: 1!important;
}
.toast-warning {
    color: white;
    background-color: #f88b0d;
    opacity: 1!important;
}

.toast {
    opacity: 1!important;
}
.titlemargin {
    padding-top: 2em !important;
    padding-bottom: 1em;
}
